<ion-header>

    <ion-navbar [hideBackButton]="true">
        <img style="display:inline-block" src="../../assets/imgs/icon.png" />
        <h1 class="nav-title" margin-left>EpiVote</h1>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <div *ngIf="loading" text-center>
        <img src="../../assets/imgs/loader.gif" />
    </div>

    <div *ngIf="!loading">
        <h3>Choose a patient to continue:</h3>
        <ion-list>
            <div text-center *ngFor="let p of patients">
                <button style="margin-top:20px" ion-button color="light" large (click)="choosePatient(p.meetingPatientID)"
                    large>
                    Patient {{ p.patientNumber }}
                </button>
            </div>
        </ion-list>

    </div>

</ion-content>