<ion-header>
  <medivote-header></medivote-header>
</ion-header>

<ion-content padding>

  <div *ngIf="loading" text-center>
    <h1>Initialising</h1>
    <img src="../../assets/imgs/loader.gif" />
  </div>


  <div *ngIf="!loading">

    <h1>Welcome to MediVote</h1>

    <div *ngIf="meetingToEnter">
      <h5>There is a meeting currently running </h5>
      <h5>Enter the meeting code, choose a role and click 'Enter meeting' to proceed.</h5>

      <form [formGroup]="entryForm">

          <ion-item margin-bottom>
              <ion-label color="primary" floating>Meeting Code</ion-label>
              <ion-input formControlName="code" minlength="3" maxlength="3"   text-uppercase></ion-input>
          </ion-item>
            
        <ion-item margin-bottom>
          <ion-label color="primary" floating>Role</ion-label>
          <ion-select [multiple]="false" interface="popover" formControlName="role">
            <ion-option [value]="item" *ngFor="let item of roles">
              {{ item.roleName }}
            </ion-option>
          </ion-select>
        </ion-item>

        <p *ngIf="error" style="color:red">You need to enter a meeting code and a role.</p>

        <div text-center>
          <button ion-button large full color="dark" (click)="enterMeeting()">Enter meeting</button>
        </div>
      </form>
    </div>

    <div *ngIf="!meetingToEnter">
      <h3 padding-top>There is no current active meeting for today</h3>
    </div>


  </div>
</ion-content>