<ion-header>
  <medivote-header></medivote-header>
</ion-header>

<ion-content>

  <div *ngIf="loading" text-center>
    <img src="../../assets/imgs/loader.gif" />
  </div>
  <div *ngIf="!loading">

    <ion-card>
      <ion-card-content *ngIf="currentQuestion">
        <h1 text-center> Patient {{ currentQuestion.patientNumber }} </h1>
        <h1 padding style="background-color:#eef2fd">{{ currentQuestion.questionText }}</h1>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <div class="choice" *ngFor="let choice of votingChoices">
        <button class="button-choice" (click)="submitVote(choice.voteChoiceID, choice.voteChoiceDescription)"
          ion-button full large [style.background-color]="choice.colour">
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/{{choice.smiley}}" />
          </ion-thumbnail>
          <h2>{{ choice.voteChoiceDescription }}</h2>
        </button>
      </div>
    </ion-list>

  </div>

</ion-content>